.fira-sans-semibold{
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }

/* Header */
.nav{
    display: flex;
    justify-content: space-between;
}
.nav-ttl{
    color: rgb(14, 14, 14);
    font-size: 25px;
    font-weight: 600px;
    margin: 10px 800px 10px 100px;
}
.btn{
    color: white;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    margin-right: 80px;
    width: 55px;
    height: 20px;
}
.banner{
    height: 400px;
    width: 1150px;
   background-color: rgb(198, 228, 214); 
   border-radius: 20px;
   margin: 50px 40px;
}
.banner-btn{
    color: white;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
}
.banner-content{
     display: flex;
}
.banner-ttls{
    padding: 70px 0px 70px 60px;
}
.banner-ttls h4{
    color: rgba(14, 14, 14, 0.5);
}
.banner-img img{
    width: 320px;
    height: 280px;
    padding: 50px 40px 100px 300px;
}